body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    color: #333;
    padding: 10px;
    margin-bottom: 2em;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    margin: 0;
}

a {
    color: #333;
}

img.icon {
    height: 1.5em;
    cursor: pointer;
}

#addSongDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.inputGroup {
    display: flex;
    align-items: center;
    margin-right: 1em;
}

label, input {
    display: block;
}

input {
    width: auto;
    padding: .5em .25em;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.692);
    border: 1px solid #ccc;
    margin-left: .5em;
    border-radius: 5px;
}

input[type="number"] {
    width: 4em;
}

button {
    background-color: #333;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#tables {
    display: flex;
    justify-content: center;
}

img#hide {
    position: relative;
    left: 1em;
    top: .5em;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: auto;
}

div#songlist table {
    margin-right: 5em;
}

div#scores table {
    margin-right: 1em;
}

#songlist table.blur {
    filter: blur(.7em);
}

th, td {
    border: 1px solid rgb(66, 64, 64);
    background-color: rgb(233, 231, 231);
    padding: .5em;
    text-align: center;
}

th {
    background-color: rgba(51, 51, 51, 0.856);
    color: white;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: gray;
}